li {
  list-style: none;
}
header > div {
  display: flex;
  width: 1230px;
  justify-content: space-between;
  margin: 0 auto;
}
header > div > ul {
  color: #b0b0b0;
  display: flex;
  width: 700px;
  padding: 0;
  justify-content: space-between;
}
header ul:last-child {
  width: 400px;
  justify-content: space-around;
}
.anticon {
  font-size: 20px;
  margin-right: 10px;
}
.teshu {
  width: 130px;
  background: #3e3c3c;
  text-align: center;
}
main {
  background: white;
  color: #333;
}
.root .user {
  color: orangered;
}
.user span {
  margin-left: 10px;
}
.login a {
  margin-left: 20px;
}
strong {
  margin-left: 6px;
}
